.station-status {
    float: right;
    width: 100%;
    height: 100%;
    
}

.station-status .badge {
    display: inline-block;
    position: static !important;
}


.station-list-item h2 {
    font-weight: bolder;
}