<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Stations</div>
      <div class="item item-body">
        <div>
          <p>
          There are <b>52</b> stations online, 12 off-line and 1 in maintenance. Total of <b>157</b> bikes available.
          </p>
          <p>
          Latest update received on: {{lastUpdate | date:'yyyy-MM-dd'}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
